<%- include("partials/header.ejs") %>

    <div class="main">
        <div class="input-box">
            <form action="/apply" method="POST">

                <div class="mb-3">

                    <label for="title" class="form-label title">Title</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control text-box" name="text" required><%= text %></textarea>
                </div>
                <input type="hidden" name="postId" value="<%= postId %>">
                <input type="submit" value="Apply" class="btn-submit edit-btn">          
            </form> 
                <form action="/delete" method="POST">
                    <input type="hidden" name="postId" value="<%= postId %>">
                    <input type="submit" value="Delete" class="btn-delete edit-btn">
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const myInput = document.querySelector('input[type="text"]');
            myInput.value = "<%=title %>";
        });
    </script>